* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
#teste {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    background-color: #EDEDED;
}

header {
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header > h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}
header > h1:hover {
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
}

/* Estilos para Section Seus Quizzes */
.seus-quizzes {
    padding-top: 31px;
}
.adicionar-primeiroquizz {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 340px;
    height: 181px;
    background-color: #EDEDED;
    border: 2px dashed #D5D5D5;
    border-radius: 5px;
}
.adicionar-primeiroquizz > span {
    display: flex;
    align-items: center;
    width: 250px;
    height: 107px;
    line-height: 23px;
    font-size: 20px;
    text-align: center;
    color: #B9B9B9;
}

.criar-quizz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 40px;
    border: 2px dashed #EC362D;
    border-radius: 50px;
}
.criar-quizz > p {
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}
.criar-quizz:hover {
    cursor: pointer;
}

.seus-quizzes > span {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.seus-quizzes > span > p{
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.seus-quizzes span > ion-icon{
    font-size: 30px;
    color: #EC362D;
}
.seus-quizzes span > ion-icon:hover {
    cursor: pointer;
}
.lista-seus-quizzes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 340px;
}
.seu-quizz {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 180px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(https://images8.alphacoders.com/929/thumb-1920-929202.jpg);
    background-size: 100%;
}
.seu-quizz > span {
    display: flex;
    align-items: center;
    width: 301px;
    height: 54px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}
.seu-quizz:hover {
    cursor: pointer;
}
/* Estilos para Section Todos Quizzes */
.todos-quizzes {
    margin-top: 35px;
}
.todos-quizzes > p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.lista-todos-quizzes {
    width: 340px;
}
.quizz {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 180px;
}
.quizz > span {
    display: flex;
    align-items: center;
    width: 301px;
    height: 58px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}
.quizz:hover {
    cursor: pointer;
}

/* Estilos Tela 2 */
/* Estilos Tema do Quizz */
.tema-quizz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 142px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(https://images8.alphacoders.com/929/thumb-1920-929202.jpg);
    background-size: 100%;
}
.tema-quizz > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60px;
    font-family: Roboto;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}
.perguntas-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.conteiner-pergunta-maior {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    padding: 15px 35px 15px 35px;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}
.conteiner-pegunta-menor {
    display: flex;
    flex-direction: column;
    width: 340px;
}
.alternativas-pergunta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    margin-top: 10px;
}
.alternativa-individual {
    display: flex;
    flex-direction: column;
    max-width: 163px;
}
.alternativa-individual > img {
    max-height: 120px;
}
.alternativa-individual > span{
    margin-top: 10px;
    display: flex;
    width: 163px;
    align-items: center;
    
}
.alternativa-individual span > p {
    font-family: Roboto;
    font-weight: bold;
    max-width: 162px;
    font-size: 15px;
    line-height: 23px;
    height: auto;
}
.alternativa-individual:hover {
    cursor: pointer;
}
.titulo-pergunta {
    display: flex;
    align-items: center;
    min-height: 90px;
    justify-content: center;

    font-family: Roboto;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

/* Estilos para Resultado */
.conteiner-resultado-maior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    padding: 15px 35px 15px 35px;
    background-color: #ffffff;
    margin-bottom: 50px;
}
.conteiner-resultado-menor {
    display: flex;
    flex-direction: column;
    width: 340px;
}
.titulo-resultado {
    display: flex;
    align-items: center;
    height: 90px;

    font-family: Roboto;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: #EC362D;
}
.descricao-resultado {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-top: 10px;
}
.descricao-resultado > img{
    width: 100%;
}
.descricao-resultado > p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 1px;
}

.botoes-finalquizz {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botoes-finalquizz > button {
    border: none;
    width: 220px;
    height: 44px;
    background: #EC362D;
    border-radius: 15px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    color: #FFF5F4;
}
.botoes-finalquizz > button:hover {
    cursor: pointer;
}
.botoes-finalquizz > span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 220px;
    height: 44px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #818181;
}
.botoes-finalquizz > span:hover {
    cursor: pointer;
}

/* Tela 3.1 - Principal */

.tela_3-1 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.tela_3-1 h2 {
    margin-top: 37px;
    margin-bottom: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.infos {
    width: 375px;
    height: 315px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.infos input {
    width: 341px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    color: #BABABA;
}

::placeholder {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    padding-left: 14px;
}

.padrao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 29px;
    margin-bottom: 29px;
    width: 324px;
    height: 54px;
    border-radius: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    border: none;
    background: #EC362D;
}
.padrao:hover {
    cursor: pointer;
}
/* Tela 3.2 */

.tela_3-2 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.tela_3-2 h2 {
    margin-top: 37px;
    margin-bottom: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.todas-perguntas {
    justify-content: space-between;
    margin: 0 0 24px;
}

.pergunta {
    width: 375px;
    height: 825px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pergunta input {
    width: 341px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    color: #BABABA;
}

.pergunta {
    width: 375px;
    height: 825px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.pergunta h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-right: auto;
    margin-left: 17px;
}

/* Tela 3.3 */

.tela_3-3 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.tela_3-3 h2 {
    margin-top: 37px;
    margin-bottom: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.niveis {
    width: 375px;
    height: 439px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nivel {
    width: 375px;
    height: 460px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.todos-niveis {
    justify-content: space-between;
    margin: 0 0 24px;
}

.nivel input {
    width: 341px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    color: #BABABA;
}

.nivel textarea {
    width: 341px;
    height: 177px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    color: #BABABA;
}

.nivel h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-right: auto;
    margin-left: 17px;
}

/* Tela 3.4 */

.tela_3-4 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.tela_3-4 h2 {
    margin-top: 37px;
    margin-bottom: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.quiz-finalizado {
    width: 340px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(image.png);
    border-radius: 5px;
    word-wrap: break-word;
}

.quiz-finalizado p {
    position: absolute;
    top: 0%;
    margin-top: 145px;
    margin-left: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.acessar-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 9px;
    border-radius: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    border: none;
    background: #EC362D;
}
.acessar-quiz:hover {
    cursor: pointer;
}
.voltar-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 29px;
    width: 220px;
    height: 44px;
    border-radius: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    border: none;
    background-color: #EDEDED;
    color: #818181;
}
.voltar-home:hover {
    cursor: pointer;
}

/* Esconder telas secundárias */

.escondido {
    display: none !important;
}

/* Colocar opaco nas imagens não selecionadas */
.opaco {
    opacity: 0.3;
}

.alternativaCorreta {
    color: green;
}

.alternativaIncorreta {
    color: red;
}

/* Encapsulado */
.encapsulado {
    width: 375px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.encapsulado:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.encapsulado h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-right: auto;
    margin-left: 17px;
}

.icon-expandir{
    margin-right: 26px;
    width: 26px;
    height: 26px;
}

.telaCarregando {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}

.telaCarregando p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #EC362D;
}
/* Media Query */
@media (min-width: 1100px) {
    .adicionar-primeiroquizz {
        width: 1100px;
    }
    .lista-todos-quizzes {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 15px 15px;
        width: 1100px;
    }
    .quizz {
        margin: 0px;
    }
    .todos-quizzes > p{
        margin-bottom: 15px;
    }
    .lista-seus-quizzes {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 15px 15px;
    }
    .conteiner-pergunta-maior {
        width: 720px;
    }
    .conteiner-pegunta-menor {
        width: 688px;
    }

    .alternativa-individual {
        min-width: 330px;
    }
    .alternativa-individual > img {
        height: 180px;
    }
    .alternativa-individual > span {
        margin-top: 10px;
        min-width: 330px;
    }
}